.title3{
	font-family: 'Dawning of a New Day', cursive;
	font-size: 30px;
	color: black;
	text-align: left;
}


.caption1{
	font-family: 'Shadows Into Light', cursive;
	width: 65px;
}

.caption2{
	font-family: 'Shadows Into Light', cursive;
	width: 65px;
	margin-left: 410px;
}

.caption3{
	font-family: 'Shadows Into Light', cursive;
	width: 65px;
	margin-left: 820px;
}

.pic3, .pic4, .pic5 {
	display: inline-block;
}

.add{
	margin-left:1170px;
	font-family: 'Dawning of a New Day', cursive;
	font-size: 25px;
}

.bread{
	float: right;
}

.change{
	font-size: 30px;
	color: blue;
}